global !p
from snippet_helpers import *
endglobal

# Dummy test snippets
snippet test "Test snippet"
foo is $1`!p snip.rv = complete(t[1], ['foo', 'bar', 'baz'])`
endsnippet

snippet foo
foo foo `!p snip.rv = humanize('bar_baz')`
endsnippet
