global !p
from snippet_helpers import *
endglobal
# Django snippets.

# - Model fields
snippet chfield "Django CharField"
${1:fieldname} = models.CharField(_('${2:`!p snip.rv = humanize(t[1])`}'), max_length=${3:255})
endsnippet

snippet urlfield "Django URLField"
${1:fieldname} = models.URLField(_('${2:`!p snip.rv = humanize(t[1])`}'))
endsnippet

# TODO: other fields,
#		non-begining of line versions ?
