# Personal Python snippets

# Encoding
snippet encoding
	# -*- coding: utf8 -*-

# shebang
snippet shebang
	#! /usr/bin/python

# Quickly pretty print a data structure
snippet pprint
	from pprint import pprint
	pprint(${1})

# Invoque pdb
snippet pdb
	import pdb; pdb.set_trace()

# Invoque Ipdb
snippet ipdb
	import ipdb; ipdb.set_trace()
